APP_NAME=PizzaFlow AI
DEBUG=false
DATABASE_URL=postgresql://postgres.nkazcgaihctqfnwcmwfv:FdeAcademyT-11@aws-0-ap-northeast-1.pooler.supabase.com:5432/postgres
OPENROUTER_API_KEY=your-api-key-here
OPENROUTER_MODEL=openai/gpt-4o-mini
MENU_FILE_PATH=scripts/menu.csv
CORS_ORIGINS=["http://localhost:5173"]
